rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ===============================================================
    // Helper Functions
    // ===============================================================
    function isAuthenticated() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }
    function isDocOwner() {
      return isAuthenticated() && request.auth.uid == resource.data.authorId;
    }
    function isAdmin() {
      return isAuthenticated() && 
        ((exists(/databases/$(database)/documents/users/$(request.auth.uid)) && 
          get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin') ||
         (request.auth.token.email == "nikhilgupta.mkg@gmail.com" && request.auth.token.email_verified == true));
    }

    // ===============================================================
    // Match Rules
    // ===============================================================

    match /test/connection {
      allow read: if true;
    }

    match /users/{userId} {
      allow read: if true;
      allow create: if isAuthenticated() && isOwner(userId);
      allow update: if isAuthenticated() && (isOwner(userId) || isAdmin());
    }

    match /blogs/{blogId} {
      allow read: if resource.data.isDraft == false || (isAuthenticated() && (request.auth.uid == resource.data.authorId || isAdmin()));
      allow create: if isAuthenticated();
      allow update: if isAuthenticated() && (isDocOwner() || isAdmin());
      allow delete: if isAuthenticated() && (isDocOwner() || isAdmin());

      match /comments/{commentId} {
        allow read: if true;
        allow create: if isAuthenticated();
        allow update: if isAuthenticated() && (request.auth.uid == resource.data.authorId || isAdmin());
        allow delete: if isAuthenticated() && (request.auth.uid == resource.data.authorId || isAdmin());
      }
    }
  }
}
